@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --main: #418eb6;
  --main-light: #9bc7de;
  --white: #fafafa;
  --gray: #e2e2e2;
  --red: #961818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
  color: var(--white);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

nav input {
  border: 0;
  padding: 1rem;
  width: 300px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--main);
  min-height: 100vh;
}

aside {
  position: fixed;
  padding: 20px;
  width: 100%;
  background-color: var(--main);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 9;
  left: 0;
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.aside-visible {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-weight: 400;
  font-size: 1.3rem;
}

.header-mobile {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mobile .logo {
  color: var(--gray);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.boton-menu {
  background-color: transparent;
  border: 0;
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: 0.85rem;
  width: 100%;
}

.boton-menu.active {
  background-color: var(--white);
  color: var(--main);
  position: relative;
}

.boton-menu.active::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: transparent;
  box-shadow: 0 1rem 0 var(--white);
}

.boton-menu.active::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2rem;
  top: 100%;
  right: 0;
  background-color: transparent;
  box-shadow: 0 -1rem 0 var(--white);
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
  transform: rotateZ(90deg);
}

.open-menu,
.close-menu {
  background-color: transparent;
  color: var(--gray);
  border: 0;
  font-size: 2rem;
  cursor: pointer;
}

.close-menu {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}

.perfil-icono {
  font-size: 1.2rem;
}

.numerito {
  background-color: var(--white);
  color: var(--main);
  padding: 0.15rem 0.25rem;
  border-radius: 0.25rem;
}

.boton-carrito {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.boton-carrito.active .numerito {
  background-color: var(--main);
  color: var(--white);
}

footer {
  padding: 1rem;
}

.texto-footer {
  color: var(--main-light);
  font-size: 0.85rem;
  text-align: center;
}

main {
  background-color: var(--white);
  margin: 0 1rem;
  border-radius: 2rem;
  padding: 2rem;
}

.titulo-principal {
  color: var(--main);
  margin-bottom: 2rem;
}

.producto-imagen {
  max-width: 100%;
  border-radius: 1rem;
}

.producto-detalles {
  background-color: var(--main);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.25rem;
}

.producto-titulo {
  font-size: 1rem;
}

.producto-agregar {
  border: 0;
  background-color: var(--white);
  color: var(--main);
  padding: 0.4rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor: pointer;
  border: 2px solid var(--white);
  transition: background-color 0.2s, color 0.2s;
}

.producto-agregar:hover {
  background-color: var(--main);
  color: var(--white);
}

/** CARRITO **/

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
  color: var(--main);
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
  color: var(--main);
  padding: 0.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.carrito-producto-subtotal {
  display: none;
}

.carrito-producto-imagen {
  width: 4rem;
  border-radius: 1rem;
}

.carrito-producto small {
  font-size: 0.75rem;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: var(--red);
  cursor: pointer;
}

.carrito-acciones {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-acciones-vaciar {
  border: 0;
  background-color: var(--gray);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--main);
  text-transform: uppercase;
  cursor: pointer;
}

.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  background-color: var(--white);
  padding: 1rem;
  color: var(--main);
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  gap: 1rem;
}
.carrito-acciones-comprar {
  border: 0;
  background-color: var(--main);
  padding: 1rem;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.disabled {
  display: none;
}

/** LOGIN FORM ***/
/* Wrapper admin* */
.login-section {
  background-color: var(--main);
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.login-form {
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-form input {
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
}

.login-form button {
  background-color: var(--main);
  color: var(--white);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: var(--main-light);
}

.form-container {
  background-color: var(--white);
  padding: 2rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.form-agregar-producto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-agregar-producto input,
.form-agregar-producto select {
  padding: 1rem;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
}

.form-agregar-producto button {
  background-color: var(--main);
  color: var(--white);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botones-admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cerrar-sesion {
  padding: 1rem;
  background-color: var(--red);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cerrar-sesion:hover {
  background-color: darkred;
}

.boton-borrar {
  background-color: transparent;
  color: var(--white);
  border: none;
  cursor: pointer;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
}

.boton-borrar:hover {
  color: red;
}

/*** 404 ***/
.container-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #333;
}
.container-404 h1 {
  font-size: 5rem;
  margin: 0;
  color: var(--red);
}
.container-404 p {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.container-404 a {
  font-size: 1.2rem;
  background-color: var(--main);
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.container-404 a:hover {
  background-color: var(--main-light);
}

/*** FOOTER ***/

footer {
  padding: 50px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-column {
  margin-bottom: 20px;
  text-align: center;
}

.footer-column h5 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--white);
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--white);
}

.footer-list li {
  margin-bottom: 5px;
}

.footer-list li a {
  text-decoration: none;
}

.footer-list li a:hover {
  text-decoration: underline;
}

.medios-de-pago {
  display: flex;
  justify-content: center;
  align-items: center;
}
.medios-de-pago img {
  width: 40px;
}

.footer-text {
  color: #fff;
  margin-top: 10px;
}

.footer-button {
  margin-top: 10px;
  font-size: 0.9rem;
  padding: 8px 16px;
  color: var(--white);
  background-color: #007bff;
  border: none;
  cursor: pointer;
}

.footer-button:hover {
  background-color: #0056b3;
}

.texto-footer {
  margin-top: 20px;
}

/*** MEDIA QUERIES ***/
@media screen and (min-width: 850px) {
  nav {
    flex-direction: row;
    width: 100%;
    justify-content: space-center;
  }

  .menu {
    flex-direction: row;
    align-items: center;
    margin: auto;
  }

  aside {
    transform: translateX(0);
    position: relative;
    visibility: visible;
    opacity: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header-mobile {
    display: none;
  }

  .boton-menu.active::before,
  .boton-menu.active::after {
    display: flex;
  }

  .close-menu {
    display: none;
  }

  .wrapper {
    padding: 0 2rem;
  }

  .producto-imagen {
    height: 300px;
    object-fit: contain;
  }

  .contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .carrito-acciones {
    flex-direction: row;
    justify-content: space-between;
  }

  .carrito-producto-subtotal {
    display: block;
  }

  .login-form {
    width: 400px;
  }

  .form-container {
    width: 500px;
  }

  /*** FOOTER ***/
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-column {
    text-align: left;
    margin: auto;
  }

  .texto-footer {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
}
